/* Position */

.pos1 {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  outline: none;
  border-radius: 3px;
}

.pos1::-webkit-slider-thumb {
  background-color: #ff7b7b;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

.pos1::-webkit-progress-bar {
  background-color: #ffc0c0;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

.pos2 {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  outline: none;
  border-radius: 3px;
}

.pos2::-webkit-slider-thumb {
  background-color: #ff8f51;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

.pos2::-webkit-progress-bar {
  background-color: #ffedc0;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

.pos3 {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  outline: none;
  border-radius: 3px;
}

.pos3::-webkit-slider-thumb {
  background-color: #ffd600;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

.pos3::-webkit-progress-bar {
  background-color: #fffca9;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

/* Rotation */

.rot1 {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  outline: none;
  border-radius: 3px;
}

.rot1::-webkit-slider-thumb {
  background-color: #b1dd00;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

.rot1::-webkit-progress-bar {
  background-color: #dcffc0;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

.rot2 {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  outline: none;
  border-radius: 3px;
}

.rot2::-webkit-slider-thumb {
  background-color: #65c3ea;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

.rot2::-webkit-progress-bar {
  background-color: #c6eeff;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

.rot3 {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  outline: none;
  border-radius: 3px;
}

.rot3::-webkit-slider-thumb {
  background-color: #d57bff;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

.rot3::-webkit-progress-bar {
  background-color: #f0d9ff;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 100%;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
