@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (orientation: portrait) {
  body {
    transform: rotate(90deg);
    transform-origin: top left;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}
