@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media screen and (orientation: portrait) {
  body {
    transform: rotate(90deg);
    transform-origin: top left;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    content: '뒤로 돌아가';
  }
} */
* {
  touch-action: manipulation;
}

/* 후보 1  */
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'IBMPlexSansKR-Regular';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 1024px) {
  div::-webkit-scrollbar {
    width: 0.5rem; /* 스크롤바의 너비 */
  }
  div::-webkit-scrollbar-thumb {
    height: 20%;
    background: #ffa3c5; /* 스크롤바의 색상 */

    border-radius: 10px;
  }
  div::-webkit-scrollbar-track {
    background: #ffffff;
  }
}

* {
  -webkit-user-drag: none;
}
